.container {
  background-color: green;
  height: 610px;
  width: 90vw;
}

#start {
  position: fixed;
  right: 50vw;
  top: 600px;
}

img {
  position: fixed;
  top: 100px;
  right: 80vw;
  height: 100px;
}

.block {
  position: fixed;
  right: 0px;
  height: 100px;
  width: 200px;
  background-color: blue;
  margin: 0px 77px;
}

.block-1 {
  top: 100px;
}
.block-2 {
  top: 250px;
}
.block-3 {
  top: 400px;
}